.previewBackdrop {
    background-color: rgba(0, 0, 0, 0.552);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.previewContainer {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
}

.image{
    max-width: 80vw;
    max-height: 60vh;
}

.imgDetails {
    padding: 10px;
}

.profileImage {
    width: 40px;
    border-radius: 50%;
}

.profileDetails {
    display: grid;
    grid-template-columns: 1fr 8fr;
    margin-top: 10px;
    
}

.location {
    color: gray;
    font-size: 0.8em;
}

.description {
    grid-column: 1/3;
    
}

.profileDetails p {
    margin: 5px;
}

.closeBtn {
    position: absolute;
    background-color: white;
    color: black;
    font-weight: bold;
    top: 30px;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.leftBtn{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}
.rightBtn{
    background-color: white;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}